/* Jennessa Sierra
    11/09/2024    
    CMPS-2151
    Lab 02  */

* {
  box-sizing: border-box;
}
body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #f0f4f8;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* add styles here */

/* Header */
header {
  background-image: url(./images/florence.jpg);
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

/* Nav bar */
nav#topbar {
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: 60px;
  height: 70px;
  padding: 20px 20px 20px 80px;
}

nav#topbar ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
}

/* Nav links */
nav#topbar ul li a:link,
nav#topbar ul li a:visited {
  font-weight: 600;
  color: #51279b;
  text-decoration: none;
}

nav#topbar ul li a:hover {
  color: #8662c7;
}

/* Hero styling */
header > div {
  font-size: 24px;
  color: white;
  margin-top: 80px;
  margin-left: 110px;
}

header > div h2 {
  font-size: 48px;
  padding-bottom: 5px;
}

header > div p {
  padding-top: 10px;
}

header > div a {
  font-size: 16px;
}

/* Hero link */
header > div a:link,
header > div a:visited {
  background-color: #51279b;
  color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

header > div a:hover {
  background-color: #8662c7;
}

/* Main section */
main {
  padding: 20px;
  background-color: #ebebeb;
}

/* Card styling */
section.card {
  background-color: #ffffff;
  display: inline-block;
  width: 33%;
}

section.card img {
  width: 100%;
}

section.card > div {
  margin: 10px 0;
  padding: 5px;
}

section.card > div h3 {
  font-size: 14px;
  font-weight: normal;
}

section.card > div p.description {
  font-size: 12px;
}

section.card > div p.social {
  padding: 5px;
  font-size: 10px;
}

/* Icons styling */
p.social span {
  background-repeat: no-repeat;
  background-size: 15px;
}

p.social span.heart {
  background-image: url(./images/heart.png);
  background-position: left;
  padding-left: 20px;
}

p.social span.comment {
  background-image: url(./images/comment.png);
  background-repeat: no-repeat;
  background-position: 45%;
  background-size: 15px;
  padding-left: 35px;
}

/* Responsiveness */
@media (max-width: 768px) {
  section.card {
    width: 100%;
  }
}
